* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

*::selection {
  background-color: transparent;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #525050;
  color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
